{% extends "layout.html" %}
{% block content %}

<div class="container">
  <div class="navbar-default sidebar" role="navigation">
    <div class="sidebar-nav navbar-collapse">
      <ul class="nav" id="side-menu">
        <li><h5>Navigation Panel</h5></li>
        <li><a href="#expStats"><i class="fa fa-comment-o fa-fw"></i> Experiments </a></li>
        <li><a href="#sampleStats"><i class="fa fa-comment-o fa-fw"></i> Samples </a></li>
      </ul>
      </div>
    </div>

    <div id="page-wrapper">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="page-header">Browse PITDB</h1>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default" id="expBreakDown">    
          <div class="panel-body">
            <label style="padding-bottom: 8px;">Experiments</label>
              <table class="table table-striped table-bordered dataTable no-footer clickable" id="expStats" >
              <thead>
                <tr>
                  <th>Experiment ID&nbsp;<a class="popoverData" data-content="Experiemnt accession number" rel="popover" data-placement="bottom" data-original-title="Experiemnt" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                  <th>Sample(s)&nbsp;<a class="popoverData" href="#" data-content="Total number of samples of this experiment." rel="popover" data-placement="bottom" data-original-title="Sammples" data-trigger="hover"><i class="fa fa-info-circle helpTipInner"></i></a></th>
                  <th>TGEs&nbsp;<a class="popoverData" href="#" data-content="Total number of identified TGEs from this experiment." rel="popover" data-placement="bottom" data-original-title="TGEs" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                  <th>Transcripts&nbsp;<a class="popoverData" href="#" data-content="Total number of Transcripts" rel="popover" data-placement="bottom" data-original-title="Transcripts" data-html="true" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                  <th>Peptides&nbsp;<a class="popoverData" href="#" data-content="Experimentally identified peptides." rel="popover" data-placement="bottom" data-original-title="Identified Peptides" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                  <th>PSMs&nbsp;<a class="popoverData" href="#" data-content="Total count of PSMs for this experiment." rel="popover" data-placement="bottom" data-original-title="psms" data-trigger="hover"><i class="fa fa-info-circle helpTipInner"></i></a></th>
                  <th>Variations&nbsp;<a class="popoverData" href="#" data-content="TGE mutations." rel="popover" data-placement="bottom" data-original-title="Variations" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                </tr>
              </thead>
              <tbody>
                {% for exp in experiments %}
                  <tr>
                    <td><a href="experiment?experiment={{ exp.accession }}">{{ exp.accession }}</a></td>
                    <td>{{ exp.sample }}</td>                  
                    <td>{{ exp.tge }}</td>
                    <td >{{ exp.trn }}</td>
                    <td>{{ exp.pep}}</td>
                    <td>{{ exp.psm}}</td>
                    <td>{{ exp.var}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        </div>    

        <div class="row">
        <div class="panel panel-default" id="sampBreakDown">    
          <div class="panel-body">
            <label style="padding-bottom: 8px;">Samples</label>
              <table class="table table-striped table-bordered dataTable no-footer clickable" id="sampleStats" >
              <thead>
                <tr>
                  <th>Sample Accession&nbsp;<a class="popoverData" data-content="Sample accession number" rel="popover" data-placement="bottom" data-original-title="Sample" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                  <th>Experiment Accession&nbsp;<a class="popoverData" href="#" data-content="Experiemnt accesion number of the sample" rel="popover" data-placement="bottom" data-original-title="experiment" data-trigger="hover"><i class="fa fa-info-circle helpTipInner"></i></a></th>
                  <th>TGEs&nbsp;<a class="popoverData" href="#" data-content="Total number of identified TGEs from this sample." rel="popover" data-placement="bottom" data-original-title="TGEs" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                  <th>Transcripts&nbsp;<a class="popoverData" href="#" data-content="Total number of Transcripts" rel="popover" data-placement="bottom" data-original-title="Transcripts" data-html="true" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                  <th>Peptides&nbsp;<a class="popoverData" href="#" data-content="Experimentally identified peptides for this sample." rel="popover" data-placement="bottom" data-original-title="Identified Peptides" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                  <th>PSMs&nbsp;<a class="popoverData" href="#" data-content="Total count of PSMs for this sample." rel="popover" data-placement="bottom" data-original-title="psms" data-trigger="hover"><i class="fa fa-info-circle helpTipInner"></i></a></th>
                  <th>Variations&nbsp;<a class="popoverData" href="#" data-content="TGE mutations from this sample." rel="popover" data-placement="bottom" data-original-title="Variations" data-trigger="hover"><i class="fa fa-info-circle"></i></a></th>
                </tr>
              </thead>
              <tbody>
                {% for smp in samples %}
                  <tr>
                    <td><a href="sample?accession={{ smp.accession }}&experiment={{smp.exp_id}}">{{ smp.accession }}</a></td>
                    <td><a href="experiment?experiment={{smp.exp_id}}">{{ smp.exp_id }}</td>                  
                    <td>{{ smp.tge }}</td>
                    <td >{{ smp.trn }}</td>
                    <td>{{ smp.pep}}</td>
                    <td>{{ smp.psm}}</td>
                    <td>{{ smp.var}}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        </div>
      </div>
    </div>
  </div>
</div> 
{% endblock %}