body {
  font-weight: normal !important;
}

.wordwrap { 
  white-space: pre-wrap;         
  white-space: -moz-pre-wrap;   
  white-space: -pre-wrap;    
  white-space: -o-pre-wrap;      
  word-wrap: break-word;    
}

.lead {
  font-size: 16px;
}

.form-control-feedback {
	right: 15px;
}

#adv-search {
  width: 500px;
  margin: 0 auto;
}
.dropdown.dropdown-lg {
  position: static !important;
}
.dropdown.dropdown-lg .dropdown-menu {
  min-width: 500px;
}

.dropdown.dropdown-lg .dropdown-menu {
  margin-top: -1px;
  padding: 6px 20px;
}
.input-group-btn .btn-group {
  display: flex !important;
}
.btn-group .btn {
  border-radius: 0;
  margin-left: -1px;
}
.btn-group .btn:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
  margin-left: 0;
  margin-right: 0;
}
.form-group .form-control:last-child {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

#resTrs tr, #tgeSummary tr, #tgeSearch tr, #tges tr {
  cursor: pointer;
}

#tges th {
  font-size: 14.5px;
}

#tges tr {
  font-size: 13.5px;
}

.tgeTable tr {
  cursor: pointer;
}

.table .selected {
  background-color: #e8eaf6 !important;
}

#search-output {
  margin-top: 50px;
}

#searchform {
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
}

#searchRes {
  width: 1150px;
  max-width:1150px;
  table-layout: fixed;
}

#searchRes tr:hover {
  cursor: pointer;
}

.red { 
  color: red;
  font-weight:bold;
}

.dna-seq {
  width: 30em; 
  word-wrap: break-word;
}

.btn {
  font-size: 12px;
}

#page-wrapper {
  width: 950px !important;
  min-width: 950px !important;
  min-height:800px !important;
  margin-top: 30px !important;
}

#page-wrap {
  width: 1140px !important;
  min-width: 1140px !important;
  margin: 0px;
  background-color: #fff;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:20px;
  margin-top: 30px !important;
  min-height:800px !important;
}

.fade {
  opacity: 1;
  transition: opacity .200s ease-in-out;
  -moz-transition: opacity .200s ease-in-out;
  -webkit-transition: opacity .200s ease-in-out;
}

.tooltip {
  background: #eee;
  box-shadow: 0 0 5px #999999;
  color: #333;
  /*display: none;*/
  font-size: 12px;
  /*left: 130px;*/
  padding: 10px;
  position: relative;
  text-align: center !important;
  /*top: 95px;*/
  width: 80px;
  z-index: 1500 !important;
  border: 3px solid #73AD21;
}

.legend {
  font-size: 12px;
}

rect {
  cursor: pointer;                                              
  stroke-width: 2;
}

rect.disabled {                                                 
  fill: transparent !important;                                 
} 

#tgeModal {
  /*position: relative;*/
  z-index: 1050;
  -webkit-transform: translate3d(0, 0, 0);
}

#tgeModal .close.btn {
  font-size: 23px;
}

.modal-backdrop {
  z-index: 1030;
}

/* Checkbox CSS from http://bootsnipp.com/snippets/0ln1R */
.checkbox {
  padding-left: 20px; }
  .checkbox label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
    .checkbox label::before {
      content: "";
      display: inline-block;
      position: absolute;
      width: 17px;
      height: 17px;
      left: 0;
      margin-left: -20px;
      border: 1px solid #cccccc;
      border-radius: 3px;
      background-color: #fff;
      -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
      transition: border 0.15s ease-in-out, color 0.15s ease-in-out; }
    .checkbox label::after {
      display: inline-block;
      position: absolute;
      width: 16px;
      height: 16px;
      left: 0;
      top: 0;
      margin-left: -20px;
      padding-left: 3px;
      padding-top: 1px;
      font-size: 11px;
      color: #555555; }
  .checkbox input[type="checkbox"] {
    opacity: 0; }
    .checkbox input[type="checkbox"]:focus + label::before {
      outline: thin dotted;
      outline: 5px auto -webkit-focus-ring-color;
      outline-offset: -2px; }
    .checkbox input[type="checkbox"]:checked + label::after {
      font-family: 'FontAwesome';
      content: "\f00c"; }
    .checkbox input[type="checkbox"]:disabled + label {
      opacity: 0.65; }
      .checkbox input[type="checkbox"]:disabled + label::before {
        background-color: #eeeeee;
        cursor: not-allowed; }
  .checkbox.checkbox-circle label::before {
    border-radius: 50%; }
  .checkbox.checkbox-inline {
    margin-top: 0; }

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: #fff; 
}


/* sunburst */
.sunburst {
  min-height: 500px !important;
}

#sidebar {
  float: right;
  width: 100px;
}

#sequence {
  margin-top: 20px;
  width: 600px;
  height: 70px;
}

#legend {
  padding: 10px 0 0 3px;
}

#sequence text, #legend text {
  font-weight: 600;
  fill: #fff;
}

#chart {
  position: relative;
  margin-bottom: 20px;
}

#chart path {
  stroke: #fff;
}

#explanation {
  position: absolute;
  top: 140px;
  left: 180px;
  width: 140px;
  text-align: center;
  color: #666;
  z-index: 1000;
}

#percentage h2 {
  font-size: 28px;
}

#percentage .wordwrap {
  font-size: 15px;
}

g text {
  font-size: 13px;
}

/* overlapping text */
.contains{
  position: absolute;
  padding:0px;
  background:#ffd7e7;
  margin: 0px;
  cursor:pointer;    
}
.contains:hover {
  background:#ff00ff;
}

span._tmp_string {
background: #F9C3C3;
padding: 2px 7px;
}

code {
  position: relative;
  left: 0;
  height: 100%;
  padding: 0px 0px;
  pointer-events:none;
  background-color: transparent !important; 
  z-index: 50px;
}

span._code_string {
  background: #99ffff;
  font-weight: bold;
  /*color: #4C5CF9;*/
  color: black;
  padding: 0px 0px;
  cursor: pointer;
  font-size: 14px;
  padding-bottom: 3px;
  font-family: "Helvetica Neue","Helvetica","Arial","sans-serif";
  pointer-events:none;
  opacity:1;
  /*font-weight: bold;*/
  /*height: 10px;*/
  z-index: 50px !important;
}

.hehe{
  background:#000;
  color:#fff
}

.sunburstInfo p {
  font-style: italic;
  padding-top: 40px !important;
  font-family: "Times New Roman", Times, serif;
}

.nav h5 {
  padding-bottom: 10px;
}

.nav i {
  margin-right: 10px;
}

.spinner {
  display:    none;
  position:   fixed;
  z-index:    1050;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 ) 
              url('http://i.stack.imgur.com/FhHRx.gif') 
              50% 50% 
              no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
.loading {
  overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
.loading .spinner {
  display: block;
}

.modal-dialog {
  width:780px;
}

.sidebar-nav {
  margin-top: 20px !important;
}

.giant-number-block>span {
  display:block;text-align:center;margin:auto
}

.giant-number{
  font-size:250%;
  font-weight:500
}

.giant-number>.text-muted{
  font-size:80%;
  text-transform:uppercase;letter-spacing:.01em
}

.giant-number-block>:first-child{
  margin-top:8px;
  padding-top:8px
}

.giant-number-block>:last-child{
  padding-bottom:8px;
  margin-bottom:8px
}

.section-heading-spacer {
  margin-top: -10px !important;
}

.clearfix {
  margin-bottom: 10px !important;
}

#description p {
  padding-right: 15px;
}

#help .modal-dialog {
  width: 1200px;
}

#help .modal-body {
  margin-right: 20px;
  margin-left: 20px;
  height: 600px !important;
  max-height: 600px !important;
  overflow: auto;
}

#help .modal-body p, #help .modal-body li {
  padding-right: 20px;
}

#help .modal-dialog h5{
  padding-top: 15px;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 5px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.helpTip {
  padding-right: 10px;
  cursor: pointer;
  margin-top: -5px;
  font-size: 18px !important;
  color: #484848;
}

.helpTipInner {
  font-size: 15px !important;
  padding-right: 3px;
  padding-top: 5px;
}

.popover {
  min-width: 276px !important;
}

#geneRes tbody tr {
  cursor: pointer;
}

.row label {
  padding-right: 7px;
}
