{% extends "layout.html" %}

{% block content %}

{% macro render_field(field, placeholder=None) %}
{% if field.errors %}
  <div>
  {% elif field.flags.error %}
    <div>
    {% else %}
    <div>
  {% endif %}
{% set css_class = 'form-control ' + kwargs.pop('class', '') %}
{{ field(class=css_class, placeholder=placeholder, **kwargs) }}
</div>
{% endmacro %}

<div class="container" style="margin-top:50px">
	<div class="row">
		<div class="col-md-12">
      <div class="input-group" id="adv-search">
        <input type="text" class="form-control" placeholder="Search PIT-DB " />
          <div class="input-group-btn">
            <div class="btn-group" role="group">
              <div class="dropdown dropdown-lg">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                
                <div class="dropdown-menu dropdown-menu-right" role="menu">
                	{% with errors = get_flashed_messages(category_filter=["error"]) %}
			            {% if errors %}
			            <div>
			            {% for error in errors %}
			            {{ error }}<br>
			            {% endfor %}
			            </div>
			            {% endif %}
			            {% endwith %}

			            {% if form.errors %}
			            <div>
			            {% for field, error in form.errors.items() %}
			            {% for e in error %}
			            {{ e }}<br>
			            {% endfor %}
			            {% endfor %}
			            </div>
			            {% endif %}
									<form id="searchform" class="form-horizontal" role="form" action="/advanced_search" method="POST">
										{{ form.csrf_token }}
	                  <div class="form-group">
	                    <label for="filter">Search by</label>
	                    <select id="searchOptions" name="searchOptions" class="form-control">
	                    	<option disabled selected> -- Select an option -- </option>
	                    	<option role="separator" class="divider"></li>
	                      <optgroup label="TGE">
										    	<option>Accession Number</option>
										      <option>Amino Acid Sequence</option>
										      <option>Transcript Sequence</option>
										      <option>...</option>
										    </optgroup>
										    <option role="separator" class="divider"></li>
										    <optgroup label="Experiment">
										      <option>Accession Number</option>
										    </optgroup>
										    <option role="separator" class="divider"></li>
										    <optgroup label="Species">
										      <option>...</option>
										    </optgroup>
	                    </select>
	                  </div>
	                  <div class="form-group">
	                    <label for="contain" id="searchFilter" name="searchFilter">Search</label>
	                    <textarea rows="4" cols="50" class="form-control" id="searchArea" name="searchArea"></textarea>
	                  </div>
	                  <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
	                </form>
                  </div>
              </div>
              <button type="button" class="btn btn-success" type="submit" name="submit"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
      </div>
    </div>
  </div>
	</div>
</div>
{% endblock %}