<!DOCTYPE html>
<html>
  <head>
    <title>PITDB</title>    
    <!--link rel="stylesheet" href="/static/css/ext/bootstrap-theme.min.css"-->

    <link rel="stylesheet" href="/static/css/ext/metisMenu.min.css">
    <!--link rel="stylesheet" href="/static/css/ext/timeline.css">-->
    <link rel="stylesheet" href="/static/css/ext/morris.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/css/ext/font-awesome.css">
    <link rel="stylesheet" href="/static/css/ext/bootstrap.css">
    <link rel="stylesheet" href="/static/css/ext/bootstrap-select.css">
    <link rel="stylesheet" href="/static/css/ext/datatables.min.css">
    <link rel="stylesheet" href="/static/css/ext/sb-admin-2.css">
    <link rel="stylesheet" href="/static/css/ext/sunburst.css"/>
    
    <link rel="stylesheet" href="/static/css/pitdb.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" style="text-decoration : none; color : #000000;"><h1 class="logo">PITDB</h1></a>
      </div>
    </header>

    <div class="container">
            <div id="wrapper">
    <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
                <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-envelope fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-tasks fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                </li>
            </ul>
        </nav>
      </div>
      {% block content %}
      {% endblock %}
    </div>

    <script src="/static/js/ext/jquery-2.1.4.min.js"></script>
    <!--script src="/static/js/ext/jquery.dataTables.js"></script>-->
    <script src="/static/js/ext/datatables.min.js"></script>
    <script src="/static/js/ext/bootstrap.min.js"></script>
    
    <!--script src="/static/js/ext/flot-data.js"></script>
    <script src="/static/js/ext/morris-data.js"></script>-->


    <!-- Metis Menu Plugin JavaScript -->
    <script src="/static/js/ext/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript 
    <script src="/static/js/ext/raphael-min.js"></script>
    <script src="/static/js/ext/morris.min.js"></script> 
    <script src="/static/js/ext/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <!-- <script src="/static/js/ext/sb-admin-2.js"></script>-->
    <script src="/static/js/ext/validator.js"></script>
    
    <script type="text/javascript" src="/static/js/genoverse.combined.js"></script>
    <script type="text/javascript" src="/static/js/genomes/grch38.js"></script>
    <script type="text/javascript" src="/static/js/plugins/fileDrop.js"></script>
    
    <!--script src="/static/js/ext/bootstrap-select.js"></script>-->

    <script src="/static/js/pit.js"></script>
</html>