<!DOCTYPE html>
<html>
  <head>
    <title>PITDB</title>    
    <!--link rel="stylesheet" href="/static/css/ext/bootstrap-theme.min.css"-->

    <link rel="stylesheet" href="/static/css/ext/metisMenu.min.css">
    <!--link rel="stylesheet" href="/static/css/ext/timeline.css">-->
    <link rel="stylesheet" href="/static/css/ext/morris.css">
    
    <link rel="stylesheet" href="/static/css/ext/font-awesome.css">
    <link rel="stylesheet" href="/static/css/ext/bootstrap.css">
    <link rel="stylesheet" href="/static/css/ext/bootstrap-select.css">
    <link rel="stylesheet" href="/static/css/ext/datatables.min.css">
    <link rel="stylesheet" href="/static/css/ext/sb-admin-2.css">
    
    <link rel="stylesheet" href="/static/css/pitdb.css">
  </head>
  <body>
    <header>
      <div class="container">
        <a href="/" style="text-decoration : none; color : #000000;"><h1 class="logo">PITDB</h1></a>
      </div>
    </header>

    <div class="container">
      <div id="wrapper">
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0"></nav>
      </div>
      {% block content %}
      {% endblock %}
    </div>

    <script src="/static/js/ext/jquery-2.1.4.min.js"></script>
    <script src="/static/js/ext/bootstrap.min.js"></script>
    <script src="/static/js/ext/datatables.min.js"></script>
    <!-- <script src="/static/js/ext/jquery.dataTables.js"></script> -->
    
    <!--<script src="/static/js/ext/metisMenu.min.js"></script>-->
    <!--<script src="/static/js/ext/plotly.min.js"></script>-->
    <!--<script src="/static/js/ext/sb-admin-2.js"></script>-->
    <!--<script src="/static/js/ext/validator.js"></script>-->
    <!--script src="/static/js/ext/bootstrap-select.js"></script>-->

    <script src="/static/js/pit.js"></script>

  </body>
</html>