<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>PITDB</title>

    <link rel="stylesheet" href="/static/css/ext/bootstrap.css">
    <link rel="stylesheet" href="/static/css/ext/landing-page.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/css/ext/font-awesome.css">
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">
</head>
<body>
  {% block content %}
  {% endblock %}

<script src="/static/js/ext/jquery-2.1.4.min.js"></script>
<script src="/static/js/ext/bootstrap.min.js"></script>
<script src="/static/js/ext/jquery.dataTables.js"></script>
<script src="/static/js/ext/metisMenu.min.js"></script>

<script type="text/javascript" src="/static/js/genoverse.combined.js"></script>
<script type="text/javascript" src="/static/js/genomes/grch38.js"></script>
<script type="text/javascript" src="/static/js/plugins/fileDrop.js"></script>
<script src="/static/js/pit.js"></script> 
</body>
</html>