<!-- <!DOCTYPE html> -->
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>PITDB</title>

    <!-- <link rel="stylesheet" href="/static/css/ext/bootstrap.css"> -->
    <link rel="stylesheet" href="/static/css/ext/landing-page.css">

    <!-- Custom Fonts -->
    <link rel="stylesheet" href="/static/css/ext/metisMenu.min.css">
    <!--link rel="stylesheet" href="/static/css/ext/timeline.css">-->
    <link rel="stylesheet" href="/static/css/ext/morris.css">
    
    <link rel="stylesheet" href="/static/css/ext/font-awesome.css">
    <link rel="stylesheet" href="/static/css/ext/bootstrap.css">
    <link rel="stylesheet" href="/static/css/ext/bootstrap-select.css">
    <link rel="stylesheet" href="/static/css/ext/datatables.min.css">
    <link rel="stylesheet" href="/static/css/ext/sb-admin-2.css">
    
    <link rel="stylesheet" href="/static/css/pitdb.css">
</head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-left">
            <li style="font-weight: bold; font-size: 22px; font-family: "Trebuchet MS", Helvetica, sans-serif"><a href="/">PITDB</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right" style="font-weight: bold; font-size: 15.5px">
            <li><a href="/#about">About</a></li>
            <li><a data-toggle="modal" data-target="#help" style="cursor: pointer;">Help</a></li>
            <li><a data-toggle="modal" data-target="#search" style="cursor: pointer;">Search <i class="fa fa-search fa-fw"></i></a></li>
          </ul>
        </div>
      </div>
    </nav>

    {% block content %}
    {% endblock %}

    <!-- Modal -->
    <div id="search" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close btn" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Search PITDB</h4>
          </div>
          <form id="searchform" class="form-horizontal" role="form" action="/search" method="POST">
            <div class="modal-body" style="font-weight: normal; line-height: 1.6em;">
              <div class="form-group">
                <p>Five main types of search are available:
                <ul> 
                  <li><label>TGE:</label> Find PIT evidence for a specific translated genomic element (TGE) by searching for its accession number or amino acid sequence.</li>
                  <li><label>Experiment:</label> View summary information for a particular experiment ID.</li>
                  <li><label>Protein:</label> Find TGEs corresponding to a specific protein, identified by its Uniprot ID.</li>
                  <li><label>Gene:</label> Search by gene name to find TGEs that are products of that gene.</li>
                  <li><label>Species:</label> Find all TGEs observed for a particular species, selected from the drop down list.</li>
                </ul>
                </p>
                <br/>
                <label for="filter">Search by</label>
                
                <select id="searchOptions" name="searchOptions" class="form-control">
                  <option disabled selected value="default">-- Select an option --</option>
                  <option disabled role="separator" class="divider"></li>
                  <optgroup label="TGE">
                    <option>Accession Number</option>
                    <option id="aminoSeq">Amino Acid Sequence</option>
                  </optgroup>
                  <option disabled role="separator" class="divider"></li>
                  <optgroup label="Experiment">
                    <option>Experiment ID</option>
                  </optgroup>
                  <option disabled role="separator" class="divider"></li>
                  <optgroup label="Protein">
                    <option>Uniprot ID</option>
                  </optgroup>
                  <option disabled role="separator" class="divider"></li>
                  <optgroup label="Gene">
                    <option>Gene Name</option>
                  </optgroup>
                  <!-- <option role="separator" class="divider"></li> -->
                  <!-- <optgroup label="Peptide">
                    <option>Peptide Sequence</option>
                  </optgroup> -->
                  <option disabled role="separator" class="divider"></li>
                  <optgroup label="Species">
                    <option>Homo sapiens</option>
                    <option>Aedes aegypti</option>
                    <option>Mus musculus</option>
                    <option>Pteropus alecto</option>
                  </optgroup>
                </select>
              </div>
              <div class="form-group" id="textArea">
                <label for="contain" id="searchFilter" name="searchFilter">Search</label>
                <textarea rows="4" cols="50" class="form-control" id="searchArea" name="searchArea" placeholder="Enter a search term"></textarea>
              </div>
              <div class="searchOptions" style="display: none;">
                <label class="radio-inline"><input type="radio" name="searchType" value="exact" checked="checked">Exact Match</label>
                <label class="radio-inline"><input type="radio" name="searchType" value="partial">Contains Sequence</label>
              </div>
              <span class="modalWarning" style="color: #c12e2a; font-weight: bold;"></span>
            </div>
            <div class="modal-footer">
              <button id="submitSearch" type="submit" class="btn btn-primary">Submit <i class="fa fa-search" aria-hidden="true"></i></button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </form>
        </div>
      </div>
    </div>


    <div id="help" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close btn" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Help</h4>
          </div>
          <div class="modal-body" style="font-weight: normal; line-height: 1.6em;">
          <h5>What is PITDB?</h5>
          <p>PITDB is a publicly available database for sharing results from published PIT (proteomics informed by transcriptomics) experiments. The PIT approach [<a href="#ref1">1</a>] involves the analysis of a given sample by both RNA-seq and proteomic mass spectrometry followed by sequence-level integration of the acquired data to provide an unprecedented insight into which genomic elements are being transcribed and translated within a given sample. The benefit of this approach is that any expressed polypeptide can be detected, unlike traditional proteomics which is constrained to searching spectra against a list of known protein sequences.</p>
          <h5>What is a translated genomic element (TGE)?</h5>
          <p>We define a TGE as an amino acid chain produced from a genomic locus through the processes of transcription and translation. The typical example of a TGE is a protein, encoded by a gene. However, other types of TGE has been reported in the literature, such as short open reading frames (sORF) and products of so-call non coding RNA (ncRNA).</p>
          <h5>How do I browse PITDB?</h5>
          <p>The web interface allows you to browse information in PITDB via four simple searches:</p>
          <ul>
            <li>Search by <strong>TGE</strong> to find PIT evidence for a specific translated genomic element (TGE) by searching for its accession number (e.g. TGE001234) or amino acid sequence. Each TGE is supported by one or more TGE observations, comprising a transcript from RNA-seq and peptide evidence of translation of the transcript from mass spectrometry. Each TGE is also assigned a type (e.g. novel isoform) through comparison with reference databases. A single TGE (as defined by its unique sequence) may have been observed across multiple species.</li>
            <li>Search by <strong>experiment</strong> (e.g. PIT000001) to view summary information for a particular experiment that has been submitted to PITDB. An experiment may contain one or more samples. The summary information includes information about the number of TGEs identified, the distribution of these among the samples, and a brief description of the experiment.</li>
            <li>Search by <strong>protein</strong> to find TGEs corresponding to a specific protein, identified by its Uniprot ID (e.g. P12111). This shows any TGEs corresponding to the protein and is useful in seeking experimental evidence for a theoretical protein, or investigating isoforms of known proteins. For species with a genome assembly, TGEs are shown in their genomic context alongside their corresponding genes.</li>
            <li>Search by <strong>species</strong> to find all TGEs observed for a particular species. For non-model organisms this essentially provides a draft proteome for further analysis. However, it is important to note that the completeness of the proteome will depend on the diversity of sample analysed, e.g. whether they came from multiple tissues.</li>
          </ul>In all the database views, specific TGEs can be located using the search box just above the TGE table.

          <h5>Downloading data from PITDB</h5>
          <p>Detailed information about all the TGEs in a particular database view can be downloaded for further analysis by clicking the “Download TGEs” button and selecting the TGE types and data fields that you want to download.</p>

          <h5>Submitting data to PITDB</h5>
          <p>We welcome submission of data of to PITDB, in support of published work. If you are interested in submitting your data, please contact Conrad Bessant (<strong>c.bessant at qmul.ac.uk</strong>) in the first instance. </p>
          <br/>
          <ol style="line-height: 1.7em; padding-left:15px">
            <li id="ref1">Evans, V.C., et al., De novo derivation of proteomes from transcriptomes for transcript and protein identification. Nature Methods, 2012. 9(12): p. 1207-U111.</li>
          </ol>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    
    <script src="/static/js/ext/jquery-2.1.4.min.js"></script>
    <script src="/static/js/ext/bootstrap.min.js"></script>
    
    <script src="/static/js/ext/d3.js"></script>
    <!-- <script src="/static/js/ext/jquery.dataTables.js"></script> -->
    <!-- <script type="text/javascript" src="/static/js/genoverse.combined.js"></script> -->
    <script src="/static/js/ext/datatables.min.js"></script>
    <script src="/static/js/pit.js"></script>
</body>
</html>